<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio</title>
    <script src="main.js"></script>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="~/javascript/dope.js"/>
</head>
<body>
    <div class="navbar" ><a href="/">Home</a><a class="border" href="/projects">Projects</a><a href="/contact">Contact</a></div>
    <h1 class="header" >About Me</h1>
    <div class="left-content">
        <img src="~/images/meme.jpg">
        <h2>Christian Heath</h2>
        <h2>I'm a programmer.</h2>
    </div>
    <div class="right-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque id ipsum at ornare. Nam bibendum neque vel fermentum dictum. Sed lorem nisl, efficitur sit amet metus at, eleifend aliquam enim. Donec diam orci, fringilla non congue a, ornare eget elit. Maecenas posuere ex est, sit amet efficitur erat vulputate a. Morbi malesuada imperdiet blandit. Proin auctor velit eu blandit maximus. Integer porta nulla efficitur nibh commodo, a semper nunc posuere. Vestibulum iaculis, dolor in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque id ipsum at ornare. Nam bibendum neque vel fermentum dictum. Sed lorem nisl, efficitur sit amet metus at, eleifend aliquam enim. Donec diam orci, fringilla non congue a, ornare eget elit. Maecenas posuere ex est, sit amet efficitur erat vulputate a. Morbi malesuada imperdiet blandit. Proin auctor velit eu blandit maximus. Integer porta nulla efficitur nibh commodo, a semper nunc posuere. Vestibulum iaculis, dolor in.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque id ipsum at ornare. Nam bibendum neque vel fermentum dictum. Sed lorem nisl, efficitur sit amet metus at, eleifend aliquam enim. Donec diam orci, fringilla non congue a, ornare eget elit. Maecenas posuere ex est, sit amet efficitur erat vulputate a. Morbi malesuada imperdiet blandit. Proin auctor velit eu blandit maximus. Integer porta nulla efficitur nibh commodo, a semper nunc posuere. Vestibulum iaculis, dolor in.</p>
    </div>

</body>
</html>